.Eightball {
    border-radius: 50%;
    height: 500px;
    width: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Eightball-answer {
    color: white;
    height: 200px;
    width: 200px;
    font-size: 50px;
}